<div class="content" stt="contact" id="contat">
  <div class="container-fluid">
    <div class="col-sm-12 well">
      <div class="col-sm-10">
        <h4>THÔNG TIN LIÊN HỆ</h4>
        <hr>
        <div class="row">
          <div class="col-sm-3">
          <%= image_tag "imgHouse/logo.png" %>
          </div>
          <div class="col-sm-6">
            <p><strong> CÔNG TY TNHH NHIỀU THÀNH VIÊN VINAHOUSE</strong></p>
              <ul>
                <li><i class="glyphicon glyphicon-map-marker"></i> <strong>Địa chỉ:</strong> 334 Nguyễn Trãi, Thanh Xuân, Hà Nội</li>
                <li><i class="glyphicon glyphicon-earphone"></i> <strong>Điện thoại:</strong> 0123456789</li>
                <li><i class="glyphicon glyphicon-phone"></i> <strong>Hotline:</strong> 19001689</li>
                <li><span class="glyphicon glyphicon-open-file"></span> <strong>Fax:</strong> (08)12345678</li>
                <li><span class="glyphicon glyphicon-envelope"></span> taitran@gmail.com</li>
              </ul>
          </div>
        </div>
        <hr>
        <div class="col-sm-8">
          <h3> Gửi thông tin liên hệ</h3>
          <p> 
          Xin vui lòng điền các yêu cầu vào mẫu dưới đây và gửi cho chúng tôi.
            Chúng tôi sẽ trả lời bạn ngay sau khi nhận được. Xin chân thành cảm ơn!
          </p>
          <form action="action_page.php">

            <label for="fname">Họ và tên</label>
            <input type="text" id="fname" name="name" placeholder="Your name..">
    
            <label for="lname">Địa chỉ</label>
            <input type="text" id="lname" name="addr" placeholder="Address..">
    
            <label for="districts">Quận/Huyện</label>
            <select id="districts" name="districks">
              <option value="s1">Quận Ba Đình</option>
              <option value="s2">Quận Hoàn Kiếm</option>
              <option value="s3">Quận Hai Bà Trưng</option>
              <option value="s3">Quận Tây Hồ</option>
              <option value="s3">Quận Cầu Gíây</option>
              <option value="s3">Quận Thanh Xuân</option>
              <option value="s3">Quận Hoàng Mai</option>
              <option value="s3">Quận Long Biên</option>
              <option value="s3">Quận Hà Đông</option>
              <option value="s3">Huyện Thanh Trì</option>
              <option value="s3">Huyện Gia Lâm</option>
              <option value="s3">Huyện Đông Anh</option>
              <option value="s3">Huyện Sóc Sơn</option>
              <option value="s3">Thị xã Sơn Tây</option>
              <option value="s3">Huyện Ba Vì</option>
              <option value="s3">Huyện Phúc Thọ</option>
              <option value="s3">Huyện Thạch Thất</option>
              <option value="s3">Huyện Quốc Oai</option>
              <option value="s3">Huyện Chương Mỹ</option>
              <option value="s3">Huyện Đan Phượng</option>
              <option value="s3">Huyện Hoài Đức</option>
              <option value="s3">Huyện Mỹ Đức</option>
              <option value="s3">Huyện Thanh Oai</option>
              <option value="s3">Huyện Phú Xuyên</option>
              <option value="s3">Huyện Mê Linh</option>
            </select>
    
            <label for="subject">Nội dung</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    
            <input type="submit" value="Submit">
    
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
