<div id="help">
  <div class="content" stt="help">
    <div class="container">
      <div class="col-sm-10 well">
        <div class="header_help">
          HƯỚNG DẪN ĐẶT PHÒNG
        </div>
      </div>
    </div>
  </div>
</div>
