<div id="help">
  <div class="content" stt="help">
    <div class="container">
      <div class="col-sm-10 well">
        <div class="header_help">
          HƯỚNG DẪN ĐẶT PHÒNG
        </div>
        <div class="b1">
          <div class="step">
            BƯỚC 1: 
          </div>
          <div class="ct">
            <p>Vào mục PHÒNG TRỌ trong menu để xem danh sách các phòng trọ</p>
            <%= image_tag "imgHouse/h.png" %>
          </div>
        </div>
        <div class="b2">
          <div class="step">
            BƯỚC 2: 
          </div>
          <div class="ct">
            <p>Đăng nhập hoặc đăng kí để xem chi tiết về phòng trọ</p>
            <%= image_tag "imgHouse/s2.png" %>
          </div>
        </div>
        <div class="b3">
          <div class="step">
            BƯỚC 3: 
          </div>
          <div class="ct">
            <p>Sau khi đăng nhập, người dùng có thế đặt phòng, điền thông tin vào biểu mẫu để gửi xác nhận</p>
            <%= image_tag "imgHouse/s3.png" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
