<% provide(:title, "ShaRoom") %>
<div id="container-full">
  <!-- noi dung -->
	<div class="content" style="height: 985px">
		<div class="container">    
			<div class="row">
				<div class="col-sm-2">
					<div class="qc1">
						<img src="imgHouse/Qc1.png" class="img-QC" height="100%" width="150" alt="Avatar">
					</div>
				</div>
			<div class="col-sm-7">
				<div class="row">
					<div class="col-sm-12">
						<div class="slideshow-container">
							<div class="mySlides slide">
								<img src="imgHouse/house1.jpg" style="width:100%" class="ig">
							</div>
							<div class="mySlides slide">
								<img src="imgHouse/h.jpg" style="width:100%" class="ig">
							</div>
							<div class="mySlides slide">
								<img src="imgHouse/h1.jpg" style="width:100%" class="ig">
							</div>
							<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
							<a class="next" onclick="plusSlides(1)">&#10095;</a>
						</div>
						<br>
						<div style="text-align:center">
							<span class="dot" onclick="currentSlide(1)"></span> 
							<span class="dot" onclick="currentSlide(2)"></span> 
							<span class="dot" onclick="currentSlide(3)"></span> 
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="house-host">
							
							<a href="#"><img src="imgHouse/house_host.jpeg" class="ig" height="110" width="150" alt="Avatar" style="background-size: cover;border-radius: 5%;"></a>
						</div>
					</div>
				<div class="col-sm-9">
					<div class="well">
						<p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I dont.</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
			<div class="col-sm-3">
				<div class="house-host">
					<img src="imgHouse/house_host2.jpg" class="ig" height="110" width="150" alt="Avatar"
								style="background-size: cover;border-radius: 5%;">
				</div>
			</div>
			<div class="col-sm-9">
				<div class="well">
					<p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I dont.</p>
				</div>
			</div>
			</div>
			<hr>
			<div class="row">
			<div class="col-sm-3">
				<div class="house-host">
					<img src="imgHouse/house_host3.jpg" class="ig" height="110" width="150" alt="Avatar"
								style="background-size: cover;border-radius: 5%;">
				</div>
			</div>
			<div class="col-sm-9">
			<div class="well">
				<p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I dont.</p>
			</div>
			</div>
		</div>
		<hr>
			<div class="row">
				<div class="col-sm-3">
					<div class="house-host">
						<img src="imgHouse/house_host1.jpg" class="ig" height="110" width="150" alt="Avatar"
						style="background-size: cover;border-radius: 5%;">
					</div>
				</div>
				<div class="col-sm-9">
					<div class="well">
						<p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I dont.</p>
					</div>
				</div>
			</div>     
		</div>
		<!-- Tao sreach -->
		<div class="col-sm-3 well">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#room">Phòng trọ <br> thuong</a></li>
				<li><a data-toggle="tab" href="#chung_cu">Chung cư <br>mini</a></li>
				<li><a data-toggle="tab" href="#nguyen_can">Nhà nguyên <br> căn</a></li>
			</ul>
		<div class="tab-content">
			<div id="room" class="tab-pane fade in active">
			<div class="form-group">
			<!-- <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
				<div class="form-select-search">
					<select class="form-control" id="sel1">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					</select>
				</div> -->
					<div class="input-group mb-3">
					<!--   <div class="input-group-prepend">
							<button class="btn btn-outline-secondary" type="button">Button</button>
						</div> -->
							<select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
								<option selected>Choose...</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
							</div>
						</div>
						</div>
					<div id="chung_cu" class="tab-pane fade"></div>
					<div id="nguyen_can" class="tab-pane fade">

					</div>
					<br>
				<!-- Tao tin tuc -->
				<div class="well" style="margin-top: 50px; background-color: white;">
					<ul class="nav nav-tabs">
						<li><a data-toggle="tab" href="#Tinhot">Tin hot</a></li>
					</ul>
				  <div class="tab-content">
						<div id="Tinhot" class="tab-pane fade in active;" style="background-color: white;">
							<ul>
								<li><a href="#">Con ga trong dap ga mai</a></li>
								<li><a href="#">Con </a></li>
							</ul>
						</div>
				</div>
			</div>
				<!-- tao list quan -->
				<div class="select">
				<div class="title">Chọn Quận/Huyện</div>
				<pre class="pre-scrollable">
					<ul>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Quận Ba Đình</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Quận Hoàn Kiếm</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Quận Hai Bà Trưng</a></li>	
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Quận Đống Đa</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Quận Tây Hồ</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Quận Cầu Giấy</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Quận Thanh Xuân</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Quận Hoàng Mai</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Quận Long Biên</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Quận Hà Đông</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Huyện Thanh Trì</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Huyện Gia Lâm</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Huyện Đông Anh</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Huyện Sóc Sơn</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Thị xã Sơn Tây</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Huyện Ba Vì</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Huyện Phúc Thọ</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Huyện Thạch Thất</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Huyện Quốc Oai</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Huyện Chương Mỹ</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Huyện Đan Phượng</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Huyện Hoài Đức</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Huyện Mỹ Đức</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Huyện Thanh Oai</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Huyện Ứng Hoà</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Huyện Thường Tín</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Huyện Phú Xuyên</a></li>
					<li><i class="glyphicon glyphicon-play"></i> <a href="#">Huyện Mê Linh</a></li>
					</ul>
				</pre>
				</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sale">
		<img src="imgHouse/QC4.jpg">
	</div>
</div>
