<div class="content" stt="news" id="news">
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav">
    	  <div class="well">
          <h4>TIN TỨC</h4>
        </div>
        <div class="well">
          <h4>TIN TỨC NỔI BẬT</h4>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Post..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
      </div>
    </div>

    <div class="col-sm-8 well">
      <h4><small>RECENT POSTS</small></h4>
      <hr>
      <h2>Tôi yêu ngôi nhà của chúng tôi</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by My Nguyen, Sep 27, 2017.</h5>
      <h5><span class="label label-danger">House</span> <span class="label label-primary">Ipsum</span></h5><br>
      <p>Trước khi mua nhà ở đây, vợ chồng đã đi dò nhiều nơi, nhưng không đâu bằng chỗ này-mỹ quan nhất quán, 
        không gian thoáng đãng, cảnh quan đẹp, nhiều mảng cây xanh; nhiều tiện ích công cộng, hạ tầng giao thông
        đi lại tiện lợi; vệ sinh sạch sẽ, chỗ chơi rộng rãi tốt cho con nhỏ. Đặc biệt là bảo vệ, an ninh tốt.
        Các con tôi không biết tại sao cũng rất thích ở đây-chắc là nhiều trò chơi, công viên rộng”</p>
      <br><br>
      
      <h4><small>RECENT POSTS</small></h4>
      <hr>
      <h2>"Ngôi nhà cũ"</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Nam Dang, Jun 24, 2018.</h5>
      <h5><span class="label label-success">House</span></h5><br>
      <p>Ngôi nhà đầu tiên mà che chở, chờ đợi tôi khi tôi đặt chân từ một nơi xa tít tới
        Sài Gòn nhỏ bé này thân thương này. Sáu bảy năm cứ ngỡ đau như ngày hôm qua, cứ như
        một giấc ngủ trưa của ngày chủ nhật, như thời gian ăn xong tô hủ tiếu gõ, hay ổ bánh
        mỳ ăn vội mỗi sáng để làm cho kịp giờ thế đó… Nó nhanh đến nỗi tôi chưa kịp nhận ra
        mình cũng đã già đi phần nào, ngôi nhà cũng đã cũ kĩ hơn trước kha khá.</p>
      <hr>

      <h4>Comment:</h4>
      <form role="form">
        <div class="form-group">
          <textarea class="form-control" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
      <br><br>
      
      <p><span class="badge">2</span> Comments:</p><br>
      
      <div class="row">
        <div class="col-sm-2 text-center">
          <img src="bandmember.jpg" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4>Ly Nguyen <small>Jun 24, 2018, 9:12 PM</small></h4>
          <p>Lại nhớ đến ngôi nhà của mình hồi nhỏ quá.</p>
          <br>
        </div>
        <div class="col-sm-2 text-center">
          <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4>Huy Nam <small>Jun 25, 2018, 8:25 AM</small></h4>
          <p>Cảm xúc thật lắng đọng.</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
