<% provide :title, @user.name %>
<div id="users">
  <div class="row" id="users">
    <aside class="col-md-6 well">
      <section class="user_info">
        <h1>
          <%= @user.name %>
        </h1>
      </section>
    </aside>
  </div>
</div>
