$color_item_header: #999494;
$color_item_header_hover: #fff; 
$color_border_menu_bar: #cccccc;
$color_menu_bar: #737373;
$color_menu_bar_hover: #13bfb1;
$color_dot_animation: #bbb;
$color_dot_animation_hover: #717171;
$color_scoll_select: #f2f2f2;
$color_scoll_select_text:#999494;
$color_footer: #232322;
$color_black: #000;
