@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

body{
  font-family: Verdana, sans-serif;
  margin: 0 ;
  width: 100%;
  height: 100%;
}
.full_img{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%),
    asset-url('imgHouse/im_1.jpg');
  background-size: cover;
}
.containers{
  height: 100%;
}

.ct-signup-login{
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
}

.ct-signup-login .glyphicon{
  color: $color_item_header;
  padding: 14px 0;
}

.ct-signup-login .glyphicon-globe{
  padding-right: 12px;
  position: relative;
}

.ct-signup-login .glyphicon:hover{
  color: $color_item_header_hover;
}
.ct-signup-login .noty{
  position: absolute;
  top:7px;
  left: 10px;
  width: 10px;
  height: 15px;
  background-color: red;
  display:inline-block;
  border-radius: 25%;
  z-index: 12;
  color: aliceblue;
  text-align: center;
}
.fi{
  display: none;
}
.dropdown-toggle{
  margin-top: 6px;
}

#logo{
  margin-left: 50px;

}
.sticky-top .container-fluid img{
  height: 55px;
}

.qc1{
  width: 150px;
  height: 400px;
  background-size: cover;
}
#l1 ul li{
	height: 100px;
}

.sticky-top{
  width: 100%;
  background-color: $color_item_header_hover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 5;
  height: 80px;
}

.menu{
  padding: 7px 0;
  float: right;
  width: 950px;
}

.nav-menu{
  float: left;
  padding: 20px 5px;
  height: 90px;
  margin: 0;
  padding: 0;
}

.nav-menu ul{
  margin: 0;
  padding: 0;
  height: 0px;
  list-style-type:none;
}
.nav-menu li{
  float: left;
}
.nav-menu ul li a{
  text-decoration:none;
  display: block;
  border-right: 1px solid $color_border_menu_bar;
  line-height: 45px;
  height: 40px;
  margin: 5px 10px;
  font-size: 15px;
  padding: 0 30px;
  color: $color_menu_bar;
  font-size: 17px;
}
.nav-menu li a:hover:not(.first){
  color: $color_menu_bar_hover;
}

.last{
  border-right: none;
}

#home{
  width: 100%;
  height: 100%;
}

#home .content{
  height: 100%;
  z-index: 1;
}

* {box-sizing: border-box}

#home img{
  vertical-align: middle;
}

#home .qc1 img{
  width: 150px;
  height: 100%;
}

#home .mySlides img{
  width: 100%;
}

#home .house-host img{
  height:110px; 
  width:150px;
  background-size: cover;
  border-radius: 5%;
}
#home .ct{
  width: 100%;
  height: 100%;
}
#home .col-sm-9 .well{
  height: 110px;
  padding: 0;
}
#home .col-sm-9 .row{
  width: 440px;
}
#home .ct p{
  width: 440px;
  height: 40px;
  overflow: hidden;
}

#home .slideshow-container {
  max-width: 1000px;
  height: 300px;
  position: relative;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#home .col-sm-12 img{
  height: 300px;
}

#home .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#home .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

#home .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: $color_dot_animation;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#home .active, .dot:hover {
  background-color: $color_dot_animation_hover;
}

#home .mySlides .ig{
  opacity: 0.9;
}

#home .slide{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#home .col-sm-3{
	border-radius: 1%;
}

#home .col-sm-9 .well{
  background-color:$color_item_header_hover;
  margin-left: 5%;
  
}
#home .col-sm-1 {
  height: 80px;
  color: $color_footer;
}
#home .col-sm-1 .l1{
  margin-left: 10px;
  margin-top: 10px;
  width:80px;
  height: 30px;
  border-bottom: 0.5px solid $color_scoll_select_text;
}
#home .col-sm-4{
  height: 80px;
  color: $color_footer;
}
#home .col-sm-4 .l2{
  margin-top: 10px;
  margin-left: 55%;
  padding-left: 10%;
 width: 350px;
 height: 30px;
 border-bottom: 0.5px solid $color_scoll_select_text;
}
#home .col-sm-3 .nav li{
  font-size: 10px;
}
#home .col-sm-9 .link{
  margin-top: 7px;
  margin-left: 10px;
}
#home .col-sm-9 .link1{
margin-top: 85px;
margin-left: 20px;
}
#home .select .title{
  width: 252px;
  height: 25px;
  padding: 2px 0 ;
  border-radius: 5%;
  text-align: center;
  font-family: segoe ui light;
  color:$color_item_header_hover;
  border: 1px solid $color_dot_animation_hover;
  background-color: $color_dot_animation_hover;
}

#home .pre-scrollable {
  padding: 0;
  background-color: $color_item_header_hover;
}

#home .pre-scrollable ul{
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
  line-height: 7px;
}

#home .pre-scrollable ul li{
  padding: 2px 0;
  border-bottom: 1px solid $color_scoll_select;
}

#home .pre-scrollable ul li a{
  text-decoration: none;
  color: $color_scoll_select_text;
}

#home .pre-scrollable ul li a:hover{
  color: $color_black;
}

#home .sale{
  margin: 0 auto;
  width: 90%;
  height: 150px;
  text-align: center;
  background-size: cover;
}

#home .sale img{
  width: 100%;
  height: 150px;
  border-radius: 2px;
}

#home .sale .animation{
  position: absolute;
  width: 90%;
  height: 55%;
  top: 33px;
  left: 60px;
  border: 1px solid $color_item_header_hover;
}

.footer{
  width: 100%;
  margin-top: 20px;
  z-index: 10;
  height: 200px;
}

.contact{
  margin-top: 50px;
  position: relative;
  height: 250px;
  background-color: $color_footer;
}

.forMe, .help, .ct, .addr{
  margin-top: 10px;
  margin-left: 35px;
  padding: 5px 5px;
  width: 230px;
  height: 200px;
  float: left;
}

.forMe, .help, .ct, .addr  h3{
  text-transform: uppercase;
}

.contact h3{
  font-size: 15px;
  width: 230px;
  color: $color_item_header_hover;
  padding-left: 40px;
}

.contact strong{
  width:170px;
  height: 50px;
}

.contact ul{
  margin-top: 10px;
  text-align: left;
  list-style-type: none;
}

.contact ul li{
  margin-top: 5px;
  padding-top: 10px;
  color: $color_scoll_select_text;
}

.contact ul a{
  text-decoration: none;
  color: $color_scoll_select_text;
}

.contact a:hover{
  color: $color_item_header_hover;
}

.addr{
  width: 250px;
}

//Tạo page Room
#room{
  height: auto;
  z-index: 1;
  margin-top: 50px;
}
#room .row{
  margin: 20px 0px;
  margin-top: 35px;
  margin-right: 0;
}

#room hr{
  width: 920px;
  margin-left: 20px;
}
#room .imgPost{
  position: relative;
  width: 260px;
  height: 195px;
  background-size: cover;
  transition: transform 4s;
  overflow: hidden;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#room .list-product .row{
  margin: 0;
  margin-top: 5px;
}
#room .contentPost{
  width: 480px;
  height: 120px;
  float: right;
}
#room .labelPost{
  width: 100px;
  float: left;
  background-color: white;
  height: 120px;
}
#room .labelPost label{
  margin-left: 3px;
  margin-top: 3px;
  padding-top: 4px;
  width: 60px;
  height: 31px;
  border-bottom: 1px solid $color_border_menu_bar;
}
#room .contentPost .list-product{
  background-color: white;
  height: 120px;
  overflow: hidden;
}
#room .contentPost .list-product .row{
  height: 32px;
  padding-left: 20px;
  padding-top: 4px;
  margin-left: 5px;
  border-bottom: 0.7px solid $color_border_menu_bar;
}
#room .contentPost .glyphicon-check{
  width:30px;
}

#room .imgPost img{
  position: absolute;
  left: 0px;
  width: 260px;
  height: 195px;
  border-radius: 5%;
  transform: scale(1,1);

}

#room .col-sm-3:hover img{
  transform: scale(1.2,1.2);
  opacity: 0.95;
}

#room .col-sm-8 .well{
  width: 650px;
  height: 195px;
  margin-left: 40px;
}
#room .btn span{
  width: 27px;
  margin-top: 1px;
  color: white;
}
#room .btn{
  margin-top: 10px;
  float: right; 
}
#room .btn:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#room .btn a{
  color: white;
  text-decoration: none;
}
#room .submit{
  background-color: #2196F3;
}
#room .detail{
  background: #4CAF50;
  margin-right: 10px;
}
#room .details{
  height: 500px;
}
#room .details .header_detail{
  margin-left: 2%;
  width: 110px;
  height: 40px;
  border-radius: 5%;
  background-color: #4CAF50;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 6px;
}

#room .details .col-sm-4{
  margin-top: 5%;
}

#room .details .imgPost img{
  position: absolute;
  left: 0px;
  width: 300px;
  height: 250px;
  border-radius: 5%;
  transform: scale(1,1);

}
#room .details .col-sm-8{
  margin-top: 5%;
}
#room .details .col-sm-8 .well{
  width: 650px;
  height: 270px;
  margin-left: 40px;
}

#room .details .list-product .row{
  margin: 0;
  margin-top: 5px;
}
#room .details .contentPost{
  width: 480px;
  height: 200px;
  float: right;
}
#room .details .labelPost{
  width: 100px;
  float: left;
  background-color: white;
  height: 200px;
}
#room .details .labelPost label{
  margin-left: 3px;
  margin-top: 3px;
  padding-top: 4px;
  width: 60px;
  height: 31px;
  border-bottom: 1px solid $color_border_menu_bar;
}
#room .details .contentPost .list-product{
  background-color: white;
  height: 200px;
  overflow: hidden;
}
#room .details .contentPost .list-product .row{
  height: 32px;
  padding-left: 20px;
  padding-top: 4px;
  margin-left: 5px;
  border-bottom: 0.7px solid $color_border_menu_bar;
}


#room .details .imgPost{
  position: relative;
  width: 300px;
  height: 250px;
  background-size: cover;
  transition: transform 4s;
  overflow: hidden;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#room .details .col-sm-4:hover img{
  transform: scale(1.2,1.2);
  opacity: 0.95;
}

//Tạo page Tin tức
#news{
  margin-top: 80px;
}

#news .col-sm-3 .well{
  height: 70px;
}
#news .col-sm-3 h4{
  margin: 0;
  text-align: center;
  height: 30px;
  border-bottom: 1px solid $color_scoll_select_text;
}
#news .col-sm-8 h4{
  margin: 0;
  color: $color_black;
}
#news .col-sm-8 hr{
  color: $color_scoll_select_text;
}
//Tạo page contact
#contat .col-sm-6 ul{
  list-style-type: none;
  padding-left: 20px;
}

#contat hr{
  color: $color_black;
}
#contat input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid $color_item_header_hover;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

#contat input[type=submit] {
  background-color: $color_input;
  color: $color_item_header_hover;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contat input[type=submit]:hover {
  background-color: $color_submit;
}

#contat .container {
  border-radius: 5px;
  background-color: $color_scoll_select;
  padding: 20px;
}
#login {
  height: 800px;
}

#login .col-sm-10{
  margin-left: 8%;
}
#login .col-sm-10 .header_login{
  margin-left: 45%;
  width: 110px;
  height: 40px;
  border-radius: 5%;
  background-color: #2D92BE;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 6px;
}
#login .col-md-6 {
  margin-top: 4%;
}

#login .checkbox {
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#login label{
  font-size: 16px;
  margin-top: 2%;
}
#login p{
  margin: 15px 0;
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
#signup{
  height: 500px;
}
#signup .col-sm-10{
  margin-left: 8%;
}
#signup .header_signup{
  margin-left: 45%;
  width: 140px;
  height: 40px;
  border-radius: 5%;
  background-color: #2D92BE;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 6px;
}

#signup .col-md-6 {
  margin-top: 4%;
}
#signup label{
  font-size: 16px;
  margin-top: 2%;
}
#signup span{
  font-size: 15px;
  margin-left: 3%;
}

#book_room{
  height: 800px;
}

#book_room .header_book{
  margin-left: 45%;
  width: 140px;
  height: 40px;
  border-radius: 5%;
  background-color: #2D92BE;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 6px;
}

#book_room .col-sm-10{
  margin-left: 8%;
}
#book_room .col-md-6 {
  margin-top: 4%;
}
#book_room label{
  font-size: 16px;
  margin-top: 2%;
}

#book_room .btn-primary{
  margin-top: 3%;
}
/* Fixed sidenav, full height */
#admin .sidenav {
  margin-top: 120px;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
}

/* Style the sidenav links and the dropdown button */
#admin .sidenav a, .dropdown-btn {
  padding: 20px 20px 6px 16px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #214761;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  border-bottom: solid 1px aqua;
  line-height: 30px;
  font-weight: bold;
}
#admin .header{
  position: fixed;
}
/* On mouse-over */
#admin .sidenav a:hover, .dropdown-btn:hover {
  color: #214761;
}

/* Main content */
#admin .main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
#admin .active {
  background-color: white;
  color: #214761;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
#admin .dropdown-container {
  -webkit-transition: height 2s;
  transition: height 2s;
  display: none;
  background-color: white;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
#admin .fa-caret-down {
  float: right;
  padding-right: 8px;
}
#admin .content {
  width:850px;
margin-top: 30px;
margin-left: 280px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  #admin .sidenav {padding-top: 15px;}
  #admin .sidenav a {font-size: 18px;}
}
#users{
  margin-top: 5%;
  height: 200px;
}
#users .row{
  margin-left: 35%;
}
#users .col-md-6{
 background-color: white;
 text-align: center;
}
#booked{
  height: auto;
}
#booked .col-sm-10{
  margin-left: 8%;
  height: 450px;
}
#booked .header_booked{
  width: 170px;
  height: 40px;
  margin-left: 40%;
  border-radius: 5%;
  background-color: #2D92BE;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 6px;
}
#booked .row{
  margin-top: 4%;
}
#booked .col-sm-8{
  margin-left: 17%;
  height: 300px;
  width: 700px;
}
#booked .col-sm-8 .well{
  height: 320px;
}
#booked  .contentPost{
  width: 460px;
  height: 200px;
  float: right;
}
#booked .labelPost{
  width: 140px;
  float: left;
  background-color: white;
  height: 235px;
}
#booked  .labelPost label{
  margin-left: 3px;
  margin-top: 3px;
  padding-top: 4px;
  width: 140px;
  height: 31px;
  border-bottom: 1px solid $color_border_menu_bar;
}

#booked .contentPost .list-product{
  background-color: white;
  height: 235px;
  overflow: hidden;
}
#booked .contentPost .list-product .row{
  height: 19px;
  padding-left: 20px;
  padding-top: 4px;
  margin-left: 5px;
  border-bottom: 0.7px solid $color_border_menu_bar;
}

#help{
  height:1700px;
}
#help .col-sm-10{
height: 1700px;
margin-left: 9%;
}
#help .header_help{
  margin-left: 2%;
  width: 275px;
  height: 40px;
  border-radius: 5%;
  background-color: #4CAF50;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 6px;
}
#help .b1{
  margin-top: 30px;
}
#help .b1 .step{
  margin-left: 2%;
  width: 100px;
  height: 40px;
  border-radius: 5%;
  background-color: #4CAF50;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 6px;
}
#help .b1 img{
  width:700px;
}
#help .b2{
  margin-top: 200px;
}
#help .b2 .step{
  margin-left: 2%;
  width: 100px;
  height: 40px;
  border-radius: 5%;
  background-color: #4CAF50;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 6px;
}
#help .b2 img{
  width:700px;
  height: 400px;
}
#help .b3{
  margin-top: 500px;
}
#help .b3 .step{
  margin-left: 2%;
  width: 100px;
  height: 40px;
  border-radius: 5%;
  background-color: #4CAF50;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 6px;
}
#help .b3 img{
  width:800px;
  height: 400px;
}
#page-inner .panel{
margin-top: 100px;
}
