@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

body{
  font-family: Verdana, sans-serif;
  margin: 0 ;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%),
  asset-url('imgHouse/im_1.jpg');
  background-size: cover;
}

.containers{
  height: 100%;
}

.ct-signup-login{
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
}

.ct-signup-login .glyphicon{
  color: $color_item_header;
  padding: 14px 0;
}

.ct-signup-login .glyphicon:hover{
  color: $color_item_header_hover;
}

#logo{
  margin-left: 50px;
    
}
.sticky-top .container-fluid img{
	height: 55px;
}

.qc1{
  width: 150px;
  height: 400px;
  background-size: cover;
}
#l1 ul li{
	height: 100px;
}

.sticky-top{
  width: 100%;
  background-color: $color_item_header_hover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 5;
  height: 80px;
}

.menu{
  padding: 7px 0;
  float: right;
  width: 890px;
}

.nav-menu{
  float: left;
  padding: 20px 5px;
  height: 90px;
  margin: 0;
  padding: 0;
}

.nav-menu ul{
  margin: 0;
  padding: 0;
  height: 0px;
  list-style-type:none;
}
.nav-menu li{
  float: left;
}
.nav-menu ul li a{
  text-decoration:none;
  display: block;
  border-right: 1px solid $color_border_menu_bar;
  line-height: 45px;
  height: 40px;
  margin: 5px 10px;
  font-size: 15px;
  padding: 0 30px;
  color: $color_menu_bar;
  font-size: 17px;
}
.nav-menu li a:hover:not(.first){
  color: $color_menu_bar_hover;
}

.last{
  border-right: none;
}

#home{
  width: 100%;
  height: 100%;
  background-size: cover;
}

#home .content{
  height: 100%;
  z-index: 1;
}

* {box-sizing: border-box}

#home img{
  vertical-align: middle;
}

#home .slideshow-container {
  max-width: 1000px;
  height: 300px;
  position: relative;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#home .col-sm-12 img{
  height: 300px;
}

#home .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#home .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

#home .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: $color_dot_animation;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#home .active, .dot:hover {
  background-color: $color_dot_animation_hover;
}

#home .mySlides .ig{
  opacity: 0.9;
}

#home .slide{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#home .col-sm-3{
	border-radius: 1%;
}

#home .col-sm-9 .well{
	background-color:$color_item_header_hover;
}

#home .col-sm-3 .nav li{
  font-size: 10px;
}

#home .select .title{
  width: 252px;
  height: 25px;
  padding: 2px 0 ;
  border-radius: 5%;
  text-align: center;
  font-family: segoe ui light;
  color:$color_item_header_hover;
  border: 1px solid $color_dot_animation_hover;
  background-color: $color_dot_animation_hover;
}

#home .pre-scrollable {
  padding: 0;
  background-color: $color_item_header_hover;
}

#home .pre-scrollable ul{
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
  line-height: 7px;
}

#home .pre-scrollable ul li{
  padding: 2px 0; 
  border-bottom: 1px solid $color_scoll_select;
}

#home .pre-scrollable ul li a{
  text-decoration: none;
  color: $color_scoll_select_text;
}

#home .pre-scrollable ul li a:hover{
  color: $color_black;
}

#home .sale{
  margin: 0 auto;
  width: 90%;
  height: 150px;
  text-align: center;
  background-size: cover;
}

#home .sale img{
  width: 100%;
  height: 150px;
  border-radius: 2px;
}

#home .sale .animation{
  position: absolute;
  width: 90%;
  height: 55%;
  top: 33px;
  left: 60px;
  border: 1px solid $color_item_header_hover;
}

.footer{
  width: 100%;
  margin-top: 20px;
  z-index: 10;
  height: 200px;
}

.contact{
  margin-top: 50px;
  position: relative;
  height: 250px;
  background-color: $color_footer;
}

.forMe, .help, .ct, .addr{
  margin-top: 10px;
  margin-left: 35px;
  padding: 5px 5px;
  width: 230px;
  height: 200px;
  float: left;
}

.forMe, .help, .ct, .addr  h3{
  text-transform: uppercase;
}

.contact h3{
  font-size: 15px;
  width: 230px;
  color: $color_item_header_hover;
  padding-left: 40px;
}

.contact strong{
  width:170px;
  height: 50px;
}

.contact ul{
  margin-top: 10px;
  text-align: left;
  list-style-type: none;
}

.contact ul li{
  margin-top: 5px;
  padding-top: 10px;
  color: $color_scoll_select_text;
}

.contact ul a{
  text-decoration: none;
  color: $color_scoll_select_text;
}

.contact a:hover{
  color: $color_item_header_hover;
}

.addr{
  width: 250px;
}

//Tạo page Room
#room{
  height: 2000px;
  z-index: 1;
  margin-top: 50px;
}
#room .row{
  margin: 20px 0px;
  margin-top: 35px;
  margin-right: 0;
}

#room hr{
  width: 920px;
  margin-left: 20px;
}
#room .imgPost{
  position: relative;
  width: 260px;
  height: 195px;
  background-size: cover;
  transition: transform 4s;
  overflow: hidden;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
#room .imgPost img{
  position: absolute;
  left: 0px;
  width: 260px;
  height: 195px;
  border-radius: 5%;
  transform: scale(1,1);
	
}

#room .col-sm-3:hover img{
  transform: scale(1.2,1.2);
  opacity: 0.95;
}

#room .col-sm-7 .well{
  width: 600px;
  height: 195px;
  margin-left: 40px;
}
//Tạo page Tin tức
#news{
  margin-top: 80px;
}

#news .col-sm-3 .well{
  height: 70px;
}
#news .col-sm-3 h4{
  margin: 0;
  text-align: center;
  height: 30px;
  border-bottom: 1px solid $color_scoll_select_text;
}
#news .col-sm-8 h4{
  margin: 0;
  color: $color_black;
}
#news .col-sm-8 hr{
  color: $color_scoll_select_text;
}
//Tạo page contact
#contat .col-sm-6 ul{
  list-style-type: none;
  padding-left: 20px;
}

#contat hr{
  color: $color_black;
}
#contat input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid $color_item_header_hover;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical 
}

#contat input[type=submit] {
  background-color: $color_input;
  color: $color_item_header_hover;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contat input[type=submit]:hover {
  background-color: $color_submit;
}

#contat .container {
  border-radius: 5px;
  background-color: $color_scoll_select;
  padding: 20px;
}
