<div id="page-inner">
  <div class="row">
    <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading"><i class="fa fa-list"></i> DANH SÁCH TÀI KHOẢN</div>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Address</th>
              <th>STK</th>
              <th>Vai trò</th>
              <th>Tác vụ</th>
            </tr>
          </thead>
          <tbody>
            <% if(!@admin_users.nil?) %>
              <%= paginate @admin_users, theme: "twitter-bootstrap-3" %>
              <%= render partial: "admin_user",  collection: @admin_users, as: "admin_user" %>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
    <button class="btn btn-success"><i class="fa fa-plus"> THÊM BÀI VIẾT</i></button>
    </div>
  </div>
  <hr />
</div>
