<div class="footer">
  <div class="contact">
    <div class="forMe">
      <h3><strong>về chúng tôi</strong></h3>
      <ul>
        <li><a href="#">Giới thiệu</a></li>
        <li><a href="#">Chính sách bảo mật </a></li>
        <li><a href="#">Liên hệ </a></li>
        </ul>
    </div>
    <div class="help">
      <h3><strong>Trợ giúp</strong></h3>
      <ul>
        <li><a href="#">Hướng dẫn tìm phòng</a></li>
        <li><a href="#">Hướng dẫn thanh toán</a></li>
        <li><a href="#">Tài khoản giao dịch</a></li>
      </ul>
    </div>
    <div class="ct">
      <h3><strong>Kết nối với chúng tôi</strong></h3>
      <ul>
        <li><img src="imgHouse/f.png"></i><a href="#">Facebook</a></li>
        <li><img src="imgHouse/pl.png"><a href="#">Google Plus</a></li>
        <li><img src="imgHouse/t.png"><a href="#">Twiter</a></li>
      </ul>
    </div>
    <div class="addr">
      <h3><strong>Hãy đến với chúng tôi</strong></h3>
      <ul>
        <li>Tổng đài CSKH: 1900 9999</li>
        <li>Địa chỉ: 334 Nguyễn Trãi, Thanh Xuân, Hà Nội</li>
        <li>Giấy phép đăng ký kinh doanh số 26072018 do Sở kế hoạch và Đầu tư thành phố Hà Nội cấp ngày 26 tháng 7 năm 2018.</li>
      </ul>
    </div>
  </div>
</div>
